<form #createUser="ngForm">
  <div
    class="modal fade"
    id="modalRegisterForm"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="false"
    data-backdrop="static"
    #modalRegister
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">
            {{ newUser._id ? "Update Form" : "Add Form" }}
          </h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <!-- <span *ngIf="name.errors?.pattern && name.dirty">Enter namasdsae</span> -->
            <span *ngIf="name.errors?.minlength">Enter vLID LENGTH</span>
            <input
              type="email"
              class="form-control validate"
              [(ngModel)]="newUser.fullName"
              name="fullName"
              maxlength="16"
              minlength="6"
              #name="ngModel"
            />
            <label
              data-error="wrong"
              data-success="rigemailht"
              for="orangeForm-email"
              >fullName</label
            >
            <!-- <div ng-messages="userForm.lastName.$error" ng-show="userForm.lastName.$dirty"> -->
            <!--pattern="^([a-zA-Z0-9]+|[a-zA-Z0-9]+\s{1}[a-zA-Z0-9]{1,}|[a-zA-Z0-9]+\s{1}[a-zA-Z0-9]{3,}\s{1}[a-zA-Z0-9]{1,})$"-->
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <span *ngIf="email.errors?.required && email.dirty"
              >Enter email</span
            >
            <input
              type="email"
              class="form-control validate"
              [(ngModel)]="newUser.email"
              name="email"
              minlength="10"
              maxlength="100"
              #email="ngModel"
              required
            />
            <label
              data-error="wrong"
              data-success="rigemailht"
              for="orangeForm-email"
              >email</label
            >
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input
              type="email"
              required
              class="form-control validate"
              [(ngModel)]="newUser.gender"
              name="gender"
              #CONTACT="ngModel"
            />
            <label
              data-error="wrong"
              data-success="rigemailht"
              for="orangeForm-email"
              >gender</label
            >
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input
              type="email"
              class="form-control validate"
              [(ngModel)]="newUser.address"
              name="address"
            />
            <label
              data-error="wrong"
              data-success="rigemailht"
              for="orangeForm-email"
              >address</label
            >
          </div>
          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input
              placeholder="Selected date"
              type="date"
              class="form-control datepicker"
              [ngModel]="newUser.DoB | date: 'yyyy-MM-dd'"
              (ngModelChange)="newUser.DoB = $event"
              name="DOB"
            />
            <label for="date-picker-example">DoB</label>
          </div>

          <div class="md-form mb-5">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input
              placeholder="isadmin"
              [(ngModel)]="newUser.isadmin"
              name="isadmin"
            />
            <label>isadmin</label>
          </div>
          <div>
            <rating
              [(ngModel)]="newUser.ratings"
              name="ratings"
              [max]="5"
              [readonly]="false"
              [disabled]="false"
              [required]="true"
              [float]="true"
              [titles]="['one', 'two', 'three', 'four', 'five']"
            >
            </rating>
            ratings
          </div>
          <div class="md-form mb-5" *ngIf="!newUser._id">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input
              type="password"
              placeholder="Enter password"
              [(ngModel)]="newUser.password"
              name="password"
            />
            <label>Enter password</label>
          </div>
          <div class="md-form mb-5" *ngIf="!newUser._id">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input
              type="password"
              placeholder="confirm password"
              [(ngModel)]="newUser.confirmpassword"
              name="confirmpassword"
            />
            <label>confirm password</label>
          </div>
        </div>
        {{ errorMsg }}
        <div class="modal-footer d-flex justify-content-center">
          <button
            class="btn btn-deep-orange"
            (click)="clickhandler(newUser)"
            [disabled]="createUser.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
