<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img src="http://placehold.it/380x500" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-sm-6 col-md-8" >
                        <h4>
                            {{userInfo.fullName}}</h4>
                        <small><cite title="San Francisco, USA">Email :{{userInfo.email}}<i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>Address: {{userInfo.address}}
                            <br />
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>Date of Birth:{{userInfo.DoB}}
                            <br/>
                            <i class="glyphicon glyphicon-gift"></i>Contact: {{userInfo.contact}}
<br/>
<i class="glyphicon glyphicon-gift"></i>Gender: {{userInfo.gender}}
<br/>
<i class="glyphicon glyphicon-gift"></i>Isadmin: {{userInfo.isadmin}}


                        </p>
                        <!-- Split button -->
                    </div>
                </div>
                <button  class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalRegisterForm" (click)="edit(userInfo)">EditInfo</button>

            </div>
        </div>
    </div>
</div>
<app-hero-detail [NewUser]="userInfo" (newData)='receiverData($event)'></app-hero-detail>
